##### Deep learning packages
tensorflow
keras
torch
torchvision
torchviz
scikit-learn
hyperopt
xgboost
optuna

######## LLM packages
gensim
nltk
transformers
wordcloud
elasticsearch
vaderSentiment
pyLDAvis

######## LLM Chatbots packages
google-generativeai
openai
llamaapi

##### PySpark packages
pyspark
databricks-sdk
# openpyxl  # to read xlsx files using pandas

##### Dataset packages
kagglehub

######### Visualization packages
seaborn
plotly 
opencv-python-headless

# ######## Web API packages
fastapi 
uvicorn
Jinja2
python-multipart

######## Web application packages
gradio

##### MySQL packages
mysql-connector-python  # MySQL
psycopg2 # PostgreSQLs

######## MLFLOW / SQL data packages
mlflow
mlflow[extras]
catboost
boto3
python-dotenv

##### developmentpackages
jupyter_contrib_nbextensions
jupyter-offlinenotebook
constellate-client
jupyterlab
nbconvert   #converts notebooks to various other formats: pdf, png, html
pytest
flake8
black

##### General packages
matplotlib
numpy
pandas
python-box
ensure
PyYAML
tqdm

## setup the project packages
-e .


